<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\NCubeSolver.Screensaver\packages.config" />
  <repository path="..\src\Plugins\Plugin.Display.OpenGL\packages.config" />
  <repository path="..\src\Tests\Core.Tests\packages.config" />
  <repository path="..\src\Tests\Core.UnitTestHelpers\packages.config" />
  <repository path="..\src\Tests\Plugin.Solvers.IntegrationTests\packages.config" />
  <repository path="..\src\Tests\Plugin.Solvers.Tests\packages.config" />
  <repository path="..\src\Tests\Plugins.Display.OpenGL.CubeRenderTest\packages.config" />
</repositories>