<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NCubeSolver.Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NCubeSolver.Runner.Properties.Settings>
            <setting name="DisplayPluginName" serializeAs="String">
                <value>OpenGLWithWindow</value>
            </setting>
            <setting name="GeneratorPluginName" serializeAs="String">
                <value>Random</value>
            </setting>
            <setting name="SolverPluginName" serializeAs="String">
                <value>Simple 7x7x7 Solver</value>
            </setting>
            <setting name="CelebratorPluginName" serializeAs="String">
                <value>TimeDelayCelebrator</value>
            </setting>
            <setting name="CubeSize" serializeAs="String">
                <value>7</value>
            </setting>
        </NCubeSolver.Runner.Properties.Settings>
        <Runner.Properties.Settings>
            <setting name="DisplayPluginName" serializeAs="String">
                <value>OpenGLWithWindow</value>
            </setting>
            <setting name="GeneratorPluginName" serializeAs="String">
                <value>Random</value>
            </setting>
            <setting name="SolverPluginName" serializeAs="String">
                <value>BeginerMethod</value>
            </setting>
            <setting name="CelebratorPluginName" serializeAs="String">
                <value>TimeDelayCelebrator</value>
            </setting>
        </Runner.Properties.Settings>
    </userSettings>
</configuration>